*.iml
.idea
.vscode
.local

*.pyc
*.log
.DS_Store

# protobuf source file
*.pb.cc
*.pb.h
*_pb2.py

build/
cmake-build*
third_party/
install/
*.db
install/

__pycache__
log/*
*.INFO*
!log/.gitkeep
.cache
